.container{
  margin-top: 50px;
  padding: 30px;

  h1{
    font-weight: normal;
    color: @color2;
  }
  h2{
    color: @color2;
  }
  p{
  }
  a{
    color: @color1;
    &:hover{
      text-decoration: none;
    }
  }
  &.narrow{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}
