@import 'header';
@import 'content';
@import 'aside';
@import 'code';
@import 'footer';
@import 'markdown';

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

@color1: #25ae90;
@color2: #5b5e63;
@bg: #f4f4f4;

html{
  position: relative;
  padding-bottom: 35px;
}

body,
html {
  margin: 0;
  background: @bg;
  font-family: 'Open Sans', sans-serif;
  color: #333;
  min-height: 100%;
}
canvas {
  background: #fff;
  margin: 15px auto 0 auto;
  display: block;
}
